* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
    background: url(assets/bg1.jpg);
    /* background-color: cornflowerblue; */
    background-size: cover;
    /* background-color: rgb(76, 100, 145); */
    background-position: center;
  }


  nav {
    height: 7%;
    width: 90%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px auto;
    padding: 50px;
  }

  .logo {
    font-size: 32px;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    margin-left: 30px;
  }
  .logo:hover {
    color: rgb(157, 180, 222);
  }
  
  .logo::first-letter {
    color: cornflowerblue;
    font-size: 35px;
  }
  nav ul li {
    display: inline-block;
    padding: 0 20px;
  }
  
  .container nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #000;
    transition: 0.3s;
  }
  
  .container nav ul li a:hover {
    color: cornflowerblue;
  }

#certificate {
    padding: 50px 0;
    color: #000;
    padding-left: 90px;
  }
  
  .pdf img {
    width: 300px;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #papers {
    padding: 50px 0;
    color: #000;
    padding-left: 90px;
  }
  
  .project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    padding-right: 50px;
    text-align: center;
  }
  
  .project-list div {
    background: rgb(107, 135, 188);
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
  }
  .project-list div i {
    font-size: 50px;
    /* margin-left:80px; */
    margin-bottom: 30px;
  }
  .subtitle {
    font-size: 60px;
    font-weight: 600;
    color: black;
  }